@import "tailwindcss";

@theme {
  --color-lemon-primary: #8EA648;
  /* Sophisticated Olive */
  --color-lemon-accent: #E6C229;
  /* Rich Gold Yellow */
  --color-lemon-dark: #1A3C34;
  /* Deep Jungle Green */
  --color-lemon-light: #F9FAFB;
  /* Crisp White */

  --font-display: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: var(--color-lemon-light);
  color: var(--color-lemon-dark);
}